### Hi there 👋

<!--
**markgreene74/markgreene74** is a ✨ _special_ ✨ repository because its `README.md` (this file) appears on your GitHub profile.

Here are some ideas to get you started:

- 🔭 I’m currently working on ...
- 🌱 I’m currently learning ...
- 👯 I’m looking to collaborate on ...
- 🤔 I’m looking for help with ...
- 💬 Ask me about ...
- 📫 How to reach me: ...
- 😄 Pronouns: ...
- ⚡ Fun fact: ...
-->

- 😄 Pronouns: he/him
- 🔭 I’m currently working on a number of personal projects with Python
- 🌱 I’m currently learning Data Science at Goldsmiths, University of London

### `[conference for conference in all_conferences]`

#### `conference.start.year => {{ current_year }}`
<details><summary>(...)</summary>
<p>
<ul>
{% for item in conf_new|sort(attribute="end", reverse=True) %}
  {% if item.start %}
<li><a href="{{item.website}}">{{item.conference}}</a> {{ item.start.strftime("%d") }}-{{ item.end.strftime("%d %B") }}, {{item.end.strftime("%Y")}}{% if item.online %} (Online){% endif -%}</li>
  {% else %}
<li><a href="{{item.website}}">{{item.conference}}</a> {{ item.end.strftime("%d %B") }}, {{item.end.strftime("%Y")}}{% if item.online %} (Online){% endif -%}</li>
  {% endif %}
{% endfor %}
</ul>
</p>
</details>

#### `conference.start.year < {{ current_year }}`
<details><summary>(...)</summary>
<p>
<ul>
{% for item in conf_old|sort(attribute="end", reverse=True) %}
  {% if item.start %}
<li><a href="{{item.website}}">{{item.conference}}</a> {{ item.start.strftime("%d") }}-{{ item.end.strftime("%d %B") }}, {{item.end.strftime("%Y")}}{% if item.online %} (Online){% endif -%}</li>
  {% else %}
<li><a href="{{item.website}}">{{item.conference}}</a> {{ item.end.strftime("%d %B") }}, {{item.end.strftime("%Y")}}{% if item.online %} (Online){% endif -%}</li>
  {% endif %}
{% endfor %}
</ul>
</p>
</details>

Last updated: {{ last_updated }}

