### Hi there 👋

- 😄 Pronouns: he/him/his.
- 🔭 I am a Senior Python engineer at Cognizant within the _Data Integration_ team.
- 💻 I am on GitHub also as [giuseppecunsolo-sky](https://github.com/giuseppecunsolo-sky), but not very active on the other profile since I left Sky.
- 🌱 In my spare time I like to work on personal projects (with Python, Jupyterlab, Pandas) around Data Science and ML.
- 📚 I have a PostGraduate Certificate (PGCert) in Data Science from Goldsmiths, University of London.
- 📖 I am studying for a master's degree (MSc) in [Data Science at the University of St Andrews](https://www.st-andrews.ac.uk/study/online/data-science/).
- 📫 How to reach me:
  - [LinkedIn](https://uk.linkedin.com/in/giuseppecunsolo)
  - ~[Twitter](https://twitter.com/markgreene74)~
  - [Mastodon](https://fosstodon.org/@markgreene)
  - `markgreene` or `gc` on a number of Slack workspaces ([PyData Global](https://pydataglobal.slack.com), [PyData London](https://pydatalondon.slack.com), [Gophers](https://gophers.slack.com))


### 📢 `[conference for conference in all_conferences]`

#### `conference.start.year => {{ current_year }}`
<details><summary>(...)</summary>
<p>
<ul>
{% for item in conf_new|sort(attribute="end", reverse=True) %}
  {% if item.start %}
<li><a href="{{item.website}}">{{item.conference}}</a> {{ item.start.strftime("%d") }}-{{ item.end.strftime("%d %B") }}, {{item.end.strftime("%Y")}}{% if item.online %} (Online){% endif -%}</li>
  {% else %}
<li><a href="{{item.website}}">{{item.conference}}</a> {{ item.end.strftime("%d %B") }}, {{item.end.strftime("%Y")}}{% if item.online %} (Online){% endif -%}</li>
  {% endif %}
{% endfor %}
</ul>
</p>
</details>

#### `conference.start.year < {{ current_year }}`
<details><summary>(...)</summary>
<p>
<ul>
{% for item in conf_old|sort(attribute="end", reverse=True) %}
  {% if item.start %}
<li><a href="{{item.website}}">{{item.conference}}</a> {{ item.start.strftime("%d") }}-{{ item.end.strftime("%d %B") }}, {{item.end.strftime("%Y")}}{% if item.online %} (Online){% endif -%}</li>
  {% else %}
<li><a href="{{item.website}}">{{item.conference}}</a> {{ item.end.strftime("%d %B") }}, {{item.end.strftime("%Y")}}{% if item.online %} (Online){% endif -%}</li>
  {% endif %}
{% endfor %}
</ul>
</p>
</details>

Last updated: {{ last_updated }}

